body{
    perspective:800px;
    height: 100vh;
    margin:0;
    overflow: scroll;
    font-family: 'Gudea', sans-serif;
    background: rgb(44, 99, 201) ; 
    background: -moz-linear-gradient(-45deg,  rgb(44, 99, 201)  0%, gold 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(44, 99, 201) ), color-stop(100%,gold)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgb(44, 99, 201)  0%,gold 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgb(44, 99, 201)  0%,gold 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgb(44, 99, 201)  0%,gold 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgb(44, 99, 201)  0%,gold 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(44, 99, 201) ', endColorstr='gold',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    h1{
        font-size: xx-large;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        }
    
a {
            border-radius:25px;
            background:#616881;
            padding:10px 30px;
            border:2px solid gold ;
            color: gold ;
            text-transform:uppercase;
            font-size:11px;
            transition-property:background,color;
            transition-duration:.2s;
            text-decoration: none;
}
a:hover {
   background-color: gold;
   color: white;
 }

 .centralize {
  margin-top: 50px;
  margin-left: 300px;
 }