    @import url(https://fonts.googleapis.com/css?family=Gudea:400,700);
    @import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
    body{
      perspective:800px;
      height: 100vh;
      margin:0;
      overflow: hidden;
      font-family: 'Gudea', sans-serif;
      background:rgb(44, 99, 201) ; /* Old browsers */
      background: -moz-linear-gradient(-45deg, rgb(44, 99, 201)  0%, gold 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#EA5C54 ), color-stop(100%,gold)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-45deg, rgb(44, 99, 201)  0%,gold 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(-45deg, rgb(44, 99, 201)  0%,gold 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg, rgb(44, 99, 201)  0%,gold 100%); /* IE10+ */
      background: linear-gradient(135deg, rgb(44, 99, 201)  0%,gold 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EA5C54 ', endColorstr='gold',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
      ::-webkit-input-placeholder {
        color: #4E546D
      }
      .login{
        opacity:1;
        top:0px;
        -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, .85);
        transition-property:transform,opacity,box-shadow,top,left;
        transition-duration:.5s;
        transform-origin:161px 100%;
        transform:rotateX(0deg);
        background-color: #5B5E6F;
        width: 20px;
        margin: 200px 200px ;
        width:400px;
        height:400px;
        top:110px;
        bottom:110px;
        left:0;
        right:0;
        color: black;
        float:left;
        position:absolute;
        margin:auto;
        border-top: 2px solid rgb(44, 99, 201);
        border-bottom: 2px solid gold;
        border-left: 2px solid gold;
        border-right: 2px solid rgb(44, 99, 201);
        padding:40px 40px 40px 40px;
        background: #616881; /* trustable Old browsers loool */
        background: -moz-linear-gradient(45deg,  #616881 0%, #1f222e 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#616881), color-stop(100%,#1f222e)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(45deg,  #616881 0%,#1f222e 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(45deg,  #616881 0%,#1f222e 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(45deg,  #616881 0%,#1f222e 100%); /* IE10+ */
        background: linear-gradient(45deg,  #616881 0%,#1f222e 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='616881', endColorstr='#1f222e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      } /*35394a*/
        .validation{
          position:absolute;
          z-index:1;
          right:10px;
          top:6px;
          opacity:0;
        }
        .disclaimer{
          position: absolute;
          bottom: 20px;
          left: 35px;
          width: 250px;
          float: left;
        }
          .icon{
            position: absolute;
            z-index: 1;
            left: 36px;
            top: 8px;
            opacity:.5;
          }
          input[type='password']{
            color:gold !important;
          }
          input[type='text'],input[type='password']{
            color: gold;
            width: 190px;
            margin-top:-5px;
            background: rgb(50, 54, 74);
            left: 0;
            padding: 10px 10px;
            border-top: 2px solid rgb(57, 61, 82);
            border-bottom: 2px solid rgb(57, 61, 82);
            border-right: none;
            border-left: none;
            outline: none;
            font-family: 'Montserrat', sans-serif;
            box-shadow: none;
          }
            .forgot{
              float: right;
              font-size: 10px;
              margin-top: 11px;
            }
            input{
              border-radius:50px;
              background:#616881;
              padding:10px 50px;
              border:2px solid gold ;
              color: gold ;
              text-transform:uppercase;
              font-size:11px;
              transition-property:background,color;
              transition-duration:.2s;
              
            }
          
    /* Color Schemes */
    
      p1{
        color:black;
        font-weight:normal;
        font-size: small;
        font-family: 'Montserrat', sans-serif;
      }
      p2{
        color:rgb(57, 61, 82);
        font-weight:700;
        font-size: medium;
        font-family:'Montserrat', sans-serif ;
      }
      h1{
        text-align: center;
        color:rgba(186, 181, 212, 0.993);
        font-weight:lighter;
        font-size:45px;
        font-variant-position:super;
        font-family: 'Montserrat', sans-serif;

      }
      h2{
        text-align:left;
        color:rgba(186, 181, 212, 0.993);
        font-weight:bolder;
        font-size:small;
        font-variant-position:super;
        font-family: 'Montserrat', sans-serif;
        
      }
      h3{
        text-align:left;
        color:rgba(186, 181, 212, 0.993);
        font-weight:bolder;
        font-size:small;
        font-variant-position:super;
        font-family: 'Montserrat', sans-serif;
      }
      a{
        color: rgb(8, 52, 134);
        font-size: medium;
        font-family: 'Montserrat', sans-serif;
      }