<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/Derecho.css" rel="stylesheet"> 
    <title>Derecho</title>
</head>
<body>
    <div class="Derecho">
    <h1>Tutores de Derecho</h1>
    <div class="btn success">
        <a href="/MainSiteUser">Volver al inicio</a>
    </div>
    <br><br>
    <div class="btn success">
        <a href="/MainSite/Derecho/tutoria">Solicitar tutoria</a>
    </div>
    <br><br>
    <div class="profile-card">
        <div class="img-container">
            <img src="{{url_for("static",filename="img/delmer.jpg")}}" alt="Sheldon">
        </div>
        <div class="text-container">
            <h1>Delmer Rodríguez</h1>
            <h2>Materias</h2>
            <p>Derecho Penal I,II,III</p>
            <h3>Me gusta enseñar porque:</h3>
            <p>El Derecho es fascinante y me gusta que se aprenda </p>
            <h4>Formación</h4>
            <p>Graduado de Universidad Dr. José Matías Delgado con postgrado en criminología</p>
            <h5>Hobbie:</h5>
            <p>Leer y convivir con los demas</p>
        </div>
    </div>
        <br><br>
        <div class="profile-card">
            <div class="img-container">
                <img src="{{url_for("static",filename="img/ely.jpg")}}" alt="Sheldon">
            </div>
            <div class="text-container">
                <h1>Ely Tamayo</h1>
                <h2>Materias</h2>
                <p>Derecho Romano, Derecho Constitucional</p>
                <h3>Me gusta enseñar porque:</h3>
                <p>Para mí también fue difícil estas materias</p>
                <h4>Formación</h4>
                <p>Ayudante de Derecho y Beca ESEN</p>
                <h5>Hobbie:</h5>
                <p>Leer y jugar futbol</p>
            </div>
        </div>
        <br><br>
        <div class="profile-card">
            <div class="img-container">
                <img src="{{url_for("static",filename="img/rebe.jpg")}}" alt="Sheldon">
            </div>
            <div class="text-container">
                <h1>Rebeca Galdámez</h1>
                <h2>Materias</h2>
                <p>Derecho Procesal Penal I y II</p>
                <h3>Me gusta enseñar porque:</h3>
                <p>Me encanta que mis alumnos aprendan</p>
                <h4>Formación</h4>
                <p>Ayudante de Procesal Penal I y II, Beca del Rector</p>
                <h5>Hobbie:</h5>
                <p>Leer y escuchar música</p>
            </div>
        </div>
        <br><br>
        <div class="profile-card">
            <div class="img-container">
                <img src="{{url_for("static",filename="img/masferrer.jpg")}}" alt="Sheldon">
            </div>
            <div class="text-container">
                <h1>Rebeca Galdámez</h1>
                <h2>Materias</h2>
                <p>Derecho Procesal Penal I y II</p>
                <h3>Me gusta enseñar porque:</h3>
                <p>Me encanta que mis alumnos aprendan</p>
                <h4>Formación</h4>
                <p>Ayudante de Procesal Penal I y II, Beca del Rector</p>
                <h5>Hobbie:</h5>
                <p>Leer y escuchar música</p>
            </div>
        </div>
        <br><br>       
        <div class="profile-card">
            <div class="img-container">
                <img src="{{url_for("static",filename="img/carlos.jpg")}}" alt="Sheldon">
            </div>
            <div class="text-container">
                <h1>Carlos Blanco</h1>
                <h2>Materias</h2>
                <p>Derecho Administrativo, Análisis Económico del Derecho</p>
                <h3>Me gusta enseñar porque:</h3>
                <p>Mi recorrido ha sido largo y con dificultades, les ahorraré lo largo</p>
                <h4>Formación</h4>
                <p>Alumni ESEN en Licenciatura en Ciencias Jurídicas</p>
                <h5>Hobbie:</h5>
                <p>Los videojuegos y las charlas</p>
            </div>
        </div>
        <br><br>
        <div class="profile-card">
            <div class="img-container">
                <img src="{{url_for("static",filename="img/Gaby.jpeg")}}" alt="Sheldon">
            </div>
            <div class="text-container">
                <h1>Gabriela Rivera</h1>
                <h2>Materias</h2>
                <p>Teoría del Estado, Derecho Constitucional</p>
                <h3>Me gusta enseñar porque:</h3>
                <p>Mi recorrido ha sido largo y con dificultades, les ahorraré lo largo</p>
                <h4>Formación</h4>
                <p>Alumni ESEN en Licenciatura en Ciencias Jurídicas</p>
                <h5>Hobbie:</h5>
                <p>Pasear a mis perros</p>
            </div>
        </div>
        <br><br>
        <div class="profile-card">
            <div class="img-container">
                <img src="{{url_for("static",filename="img/pablo.jpeg")}}" alt="Sheldon">
            </div>
            <div class="text-container">
                <h1>Pablo Rodríguez</h1>
                <h2>Materias</h2>
                <p>Derecho Administrativo I, Derecho Internacional Privado</p>
                <h3>Me gusta enseñar porque:</h3>
                <p>Reconozco cuales son mis frutos al enseñar, por eso estoy aquí</p>
                <h4>Formación</h4>
                <p>Alumni ESEN en Licenciatura en Ciencias Jurídicas</p>
                <h5>Hobbie:</h5>
                <p>Leer novelas, ver noticieros, convivir con la familia</p>
            </div>
        </div>
        <br><br>
</div>
</body>
</html>