<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/Ingenieria.css" rel="stylesheet"> 
    <title>Ingenieria</title>
</head>
<body>
<div class="Ingenieria">
    <h1>Tutores Ingeniería de Negocios</h1>
    <div class="btn success">
        <a href="/MainSiteUser">Regresar al inicio</a>
    </div>
    <br><br>
    <div class="btn success">
        <a href="/MainSite/Ingenieria/tutoria">Solicitar tutoria</a>
    </div>
    <br><br>    
                <div class="profile-card">
                    <div class="img-container">
                        <img src="{{url_for("static",filename="img/sheldon.jpg")}}" alt="Sheldon">
                    </div>
                    <div class="text-container">
                        <h1>Sheldon Lee Cooper</h1>
                        <h2>Materias</h2>
                        <p>Física I, Física II, Cálculo para Ingenieros II</p>
                        <h3>Me gusta enseñar porque:</h3>
                        <p>Amo que los demas entiendan algo que consideraban difícil</p>
                        <h4>Formacion</h4>
                        <p>Ayudante de Física y Joven Talento</p>
                        <h5>Hobbie:</h5>
                        <p>Leer, Experimentar y Comics</p>
                    </div>
                </div>
<br><br>
<!--Aca-->
        <div class="profile-card">
            <div class="img-container">
                <img src="{{url_for("static",filename="img/chema.jpg")}}" alt="chema">
            </div>
            <div class="text-container">
                <h1>José María Velásquez</h1>
                <h2>Materias</h2>
                <p>Estadística y Probabilidad, Inferencia Estadística</p>
                <h3>Me gusta enseñar porque:</h3>
                <p>Me gusta ayudar a los demas</p>
                <h4>Formacion</h4>
                <p>Ing. Mecánico y maestría en Estadística aplicada a la investigación</p>
                <h5>Hobbie:</h5>
                <p>Leer, tomar cafe, escuchar rock</p>
            </div>
        </div>
        <br><br>

</div>

</body>
</html>