<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/Ingenieria.css" rel="stylesheet"> 
    <title>Ingenieria</title>
</head>
<body>
    <div class="Ingenieria">
    <h1>Pagina de Ingeniería de Negocios</h1>
    <div class="btn success">
        <a href="/MainSiteUser">Regresar al inicio</a>
    </div>
    <br><br>
    <div class="btn success">
        <a href="/MainSite/Ingenieria/tutoria">Solicitar tutoria</a>
    </div>
    <br><br>
    <p>Todos los tutores</p>
</div>
</body>
</html>