<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Iniciar Sesion</h1>
    <br>

    <p style="color: red;">{{message}}</p>
    <form action="/loginform" method="POST">
        Usuario: <br>
        <input type="text" name="user" id="user">
        <br><br>
        Contraseña: <br>
        <input type="password" name="password" id="password">
        <br><br>
        <input type="submit" value="Iniciar sesion">
        <br><br>
        <p>¿No tienes usuario?</p>
        <p>¡Crea uno!</p>
        <a href="/loginform/createuser">Ir a registro de usuario</a>
    </form>
</body>
</html>