<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/MainSiteAdmin.css" rel="stylesheet"> 
    <title>admin</title>
    <h1>Pagina del administrador</h1>
    <p>Estas loggeado como {{userdata}} </p>
</head>

<body>
    <div class="MainSite">
    <br><br>
    <div class="logout">
       <a href="/">Cerrar Sesión</a>
    </div>

    <div class="btn success">
        <a href="/MainSiteAdmin/Usuarios">Ver Usuarios</a>
    </div>
    <br><br>
    <div class="btn success">
        <a href="/MainSiteAdmin/TiposUsuarios">Ver tipos de usuarios</a>
    </div>
    <br><br>
    <div class="btn success">
        <a href="/MainSiteAdmin/materias">Ver materias disponibles</a>
    </div>   
    <br><br>
    <div class="btn success"> 
        <a href="/MainSiteAdmin/CrearUsuarioProfesor">Crear Usuario Profesor</a>
    </div>
    <br><br>  
    <div class="btn success">
        <a href="/MainSiteAdmin/TutoriasSolicitadas">Ver Todas Solicitudes</a>
    </div>    
</div>
</body>
</html>