<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/MainSiteAlumno.css" rel="stylesheet"> 
    
    <div class="MainSite">
    <title>Main Site</title>
    <h1>Pagina Principal</h1>
    <p>estas loggeado como {{userdata}} </p>
    <br><br>
    <a href="/">Cerrar Sesión</a>
    <br><br>
    <a href="/MainSite/Mistutorias"> Ver estado tutorias</a>
    <br><br>
    <a href="/MainSite/TutoriasFinalizadas">Calificar tutoría</a>
    <br><br>
    <a href="/MainSite/Ingenieria"> <img src="{{url_for("static",filename="img/IDN.png")}}" ></a> 
    <br><br> 
    <a href="/MainSite/Economia"> <img src="{{url_for("static",filename="img/LEN.png")}}" ></a>
    <br><br>
    <a href="/MainSite/Derecho"> <img src="{{url_for("static",filename="img/LCJ.png")}}"  ></a>
</div>
</head>
<body>
    
</body>
</html>