<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/MainSiteTutor.css" rel="stylesheet"> 
    <div class="MainSite">
    <title>Tutor</title>
 </head>   
 <body>
    <h1>Página principal de los Tutores</h1>
    <p>Estas loggeado como {{userdata}} </p>
    <br><br>
    <div class="logout">
        <a href="/">Cerrar Sesión</a>
    </div>
    <br><br>
    <div class="btn success">
        <a href="/MainSiteTutor/TutoriasSolicitadas">Ver tutorias solicitadas</a>
    </div>
    <br><br>
    <div class="btn success">
     <a href="/MainSiteTutor/ValoracionTutorias">Ver mis tutorias calificadas</a>
    </div> 
</div> 
</body>
</html>