<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/MainSiteTutor.css" rel="stylesheet"> 
    <div class="MainSite">
    <title>Tutor</title>
    <h1>Tutores</h1>
    <p>estas loggeado como {{userdata}} </p>
    <br><br>
    <a href="/">Cerrar Sesión</a>
    <br><br>
    <a href="/MainSiteTutor/TutoriasSolicitadas">Ver tutorias solicitadas</a>
    <br><br>
    <a href="/MainSiteTutor/ValoracionTutorias">Ver mis tutorias calificadas</a>
</div>
</head>
<body>
    
</body>
</html>