<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/MainSiteAdmin.css" rel="stylesheet"> 
    <title>admin</title>
    <h1>Admin</h1>
    <p>estas loggeado como {{userdata}} </p>
</head>

<body>
    <div class="MainSite">
    <br><br>
    <a href="/">Cerrar Sesión</a>
    <br><br>
    <br><br>
    <a href="/MainSiteAdmin/Usuarios">Ver Usuarios</a>
    <br><br>
    <a href="/MainSiteAdmin/TiposUsuarios">Ver tipos de usuarios</a>
    <br><br>
    <a href="/MainSiteAdmin/materias">Ver materias disponibles</a>
    <br><br>
    <a href="/MainSiteAdmin/CrearUsuarioProfesor">Crear Usuario Profesor</a>
    <br><br>    
    <a href="/MainSiteAdmin/TutoriasSolicitadas">Ver Todas Solicitudes</a>
</div>
</body>
</html>