<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/solicitartutorias.css" rel="stylesheet">
    <title>Tutoria Economía</title>

</head>
<body>
        <div class="form">
            <div class="form_title">
                <h1>Solicitar tutoria</h1> 
            </div>
            <form action="/MainSite/Economia/tutoria" method="POST">
                <center>Tutor:</center> 
                <div class="box">
                    <select name="tutor" id="tutor">
                        {% for tutores in datatutores %}
                        <option value="{{tutores[0]}}">{{tutores[1]}} {{tutores[2]}} </option>
                        {% endfor %}
                    </select>
                </div>
                <br><br>
                <center> Materia:</center>
                <div class="box">
                    <select name="materia" id="materia">
                        {% for materia in Materias %}
                        <option value="{{materia[0]}}">{{materia[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br><br>
                <center> Fecha:</center> 
                <div class="box">
                    <input type="date" name="fecha" id="fecha">
                </div> 
                    <br><br>
                <center> Hora:</center> 
                <div class="box">
                    <input type="time" name="hora" id="hora" >
                </div>   
                <br>
                <center> Precio:</center>
                <div class="box">
                    <input type="number" name="precio" id="precio" placeholder="En dólares">
                </div>    
                <br><br>
                <div class="box">
                    <input type="submit" value="Solicitar">
                </div>    
                <br><br>
                <div class="box">
                <a href="/MainSite/Economia">Regresar a los tutores</a>
                <br><br><br>
                </div>
            </form>
        </div>    
</body>
</html>