<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/tutoriasfinalizadas.css" rel="stylesheet">
    <title>Tutorias solicitadas</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #6495ED;
        }
        </style>
</head>
<body>
    <h1>Valoración tutorías</h1>
    <a href="/MainSiteTutor">Volver a la pagina principal</a>
        <br><br>
        <table style="width: 20%">
            <tr>
              <th>Número de tutoria</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Materia</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Precio</th>
              <th>Valoración</th>
            </tr>
            {% for inf in Informacion %}
            <tr>
              <td>{{inf[0]}}</td>
              <td>{{inf[1]}}</td>
              <td>{{inf[2]}}</td>
              <td>{{inf[3]}}</td>
              <td>{{inf[4]}}</td>
              <td>{{inf[5]}}</td>
              <td>${{inf[6]}}</td>
              <td>{{inf[7]}}</td>
            </tr>
            {% endfor %}
          </table>
          